/* COLORS:
light pink: #FFF1EA // rgb(255, 241, 235)
dark pink: #F4C4BE // rgb(244, 196, 190)
orange pink: #FFB08B // rgb(255, 176, 139)
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 3rem;
}

header {
  height: 40vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(244, 196, 190, 0.8), rgb(247, 176, 139, 0.8)),
    url(img/dancingLines.gif);
  background-size: contain;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  margin-bottom: 2.5rem;
}

.header__text-box {
  position: absolute;

  top: 30%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 1rem;
  transition: transform .3s;

  animation: moveInLeft 1s ease-out;
}

.heading-primary--main:hover {
  transform: translateY(-1.5rem);
}

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  animation: moveInRight 1s ease-out;
}

.about {
  height: 15vh;
  margin-bottom: 2.5rem;
}

.about__text-box {
  color: rgb(92, 78, 78);
}

.contact {
  color: #fff;
  justify-content: space-around;
  background-color: rgba(236, 112, 81, 0.80);
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.contact__item {
  color: #fff;
  display: inline-block;
  margin-left: 3rem;
}

.contact__item:hover {
  color: #FFB08B;
}


.projects__text-box {
  color: rgb(92, 78, 78)
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.col-1-of-2 {
  width: calc((100% - 4rem) / 2);
  float: left;
  margin-right: 2rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  height: 10rem;
  background-color: #FFB08B;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
