/* COLORS:
light pink: #FFF1EA
dark pink: #F4C4BE
orange pink: #FFB08B */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 3rem;
}

header {
  height: 35vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(244, 196, 190, 0.8), rgb(247, 176, 139, 0.8)),
    url(img/triangles.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  margin-bottom: 2.5rem;
}

.header__text-box {
  position: absolute;

  top: 20%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary--main {
  display: block;
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 1rem;

  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  animation: moveInRight 1s ease-out;
}

.about {
  height: 15vh;
  margin-bottom: 2.5rem;
}

.about__text-box {
  color: rgb(92, 78, 78)
}

.about img {
  width: 15rem;
  position: absolute;
  right: 5%;
  top: 35%;
  margin: 2rem;
}

.contact {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 5vh;
  background-color: rgba(236, 112, 81, 0.80);
  margin-bottom: 2rem;
}

.contact__item {
  margin: 0 1rem 0 1rem;
  color: #fff;
}


.projects__text-box {
  color: rgb(92, 78, 78)
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
